@{
    ViewData["Title"] = "Vending Machine";
}

<div class="text-center">
    <h2 class="display-4">Welcome</h2>
    <p>
        <a href="/Products">Click here to select a tasty treat!</a>
    </p>
</div>
